.active{
    border-bottom: 2px solid green;
    transform: scale(1.1);
    transition: border-bottom 0.3s ease,color 0.3s ease, transform 0.3s ease;
}

/* for the mat bar spinner css  */
.loader-conatiner{
    position: fixed;
    width: 100%;
    z-index: 99;
}


  
